<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>internet</string>
		<key>subType</key>
		<string>上网</string>
		<key>type</key>
		<string>outcome</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>paper</string>
		<key>subType</key>
		<string>报纸</string>
		<key>type</key>
		<string>outcome</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>chat</string>
		<key>subType</key>
		<string>约会</string>
		<key>type</key>
		<string>outcome</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>salary</string>
		<key>subType</key>
		<string>发工资</string>
		<key>type</key>
		<string>income</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>defaultMiddle</string>
		<key>subType</key>
		<string>默认</string>
		<key>type</key>
		<string>outcome</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>car</string>
		<key>subType</key>
		<string>开车</string>
		<key>type</key>
		<string>outcome</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>mobile</string>
		<key>subType</key>
		<string>话费</string>
		<key>type</key>
		<string>outcome</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>computer</string>
		<key>subType</key>
		<string>硬件</string>
		<key>type</key>
		<string>outcome</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>email</string>
		<key>subType</key>
		<string>发邮件</string>
		<key>type</key>
		<string>outcome</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>travel</string>
		<key>subType</key>
		<string>旅行</string>
		<key>type</key>
		<string>outcome</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>photo</string>
		<key>subType</key>
		<string>拍照</string>
		<key>type</key>
		<string>outcome</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>security</string>
		<key>subType</key>
		<string>安保</string>
		<key>type</key>
		<string>outcome</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>ktv</string>
		<key>subType</key>
		<string>唱歌</string>
		<key>type</key>
		<string>outcome</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>music</string>
		<key>subType</key>
		<string>音乐</string>
		<key>type</key>
		<string>outcome</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>shoes</string>
		<key>subType</key>
		<string>买鞋</string>
		<key>type</key>
		<string>outcome</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>book</string>
		<key>subType</key>
		<string>买书</string>
		<key>type</key>
		<string>outcome</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>bill</string>
		<key>subType</key>
		<string>水电煤单</string>
		<key>type</key>
		<string>outcome</string>
	</dict>
</array>
</plist>
